@import '/src/common.blocks/theme.layer/theme.css';

/* Блок informer - Информационный блок, имеющий статус. Нужное оформление достигается путём миксования к нему блока темы со статусным значением цветового модификатора */

.informer {
    position: relative;
}

/* Обводка всего блока. Цвет границы определяется темой. Ширина границы — 3px */
.informer_border_all { border: 3px solid var(--bgr-border); }
/* view - Фон всего блока. Цвет фона определяется темой */
.informer_view_default { background-color: var(--bgr-default); }

/* Элемент content */
/* Элемент action - Располагается в конце информера для кнопок и других контролов */
.informer__content,
.informer__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.informer__action {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* distribute - Распределение контента по горизонтали */
.informer__content_distribute_default,
.informer__action_distribute_default { 
    -ms-flex-line-pack: initial;
    align-content: initial;
    -webkit-box-align: initial;
    -ms-flex-align: initial;
        align-items: initial;
}

.informer__content_distribute_between,
.informer__action_distribute_between { 
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.informer__content_distribute_center,
.informer__action_distribute_center { 
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

/* space-a - Внутренние отступы по всем сторонам */
.informer__content_space-a_xl,
.informer__action_space-a_xl { padding: var(--indent-xl); }

.informer__content_space-a_xxl,
.informer__action_space-a_xxl { padding: var(--indent-xxl); }