@import '/src/common.blocks/patterns.layer/list/list.css';
@import '/src/common.blocks/content.layer/text/text.css';
@import '/src/common.blocks/content.layer/brand-logo/brand-logo.css';
@import '/src/common.blocks/content.layer/accordion/accordion.css';
@import '/src/common.blocks/patterns.layer/icon-plus/icon-plus.css';



.history__transaction {
    padding-top: 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.history__transaction:last-child {
    border-bottom: none;
}

.history__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.history__actions {
    margin-bottom: 0;
}

.history__show {
    position: relative;
    width: 100%;
}

.history__hide {
    width: 100%;
}

.history__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.history__quantity {
    position: absolute;
    right: 0;
}