@import '/src/common.blocks/theme.layer/theme.css';

/* Блок list - используется для вертикального представления повторяющихся сущностей. Отлично подходит для отображения истории, контактов, вертикальных меню */
.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* Обводка всего списка */
.list_border_all { 
    border-style: solid;
    border-color: var(--bgr-border);
}

/* Фон */
.list_view_default { background-color: var(--bgr-default); }

/* Элемент item - Единственный элемент блока, который определяет строку списка. Является контейнером для контента строки. Элементы item могут включать в себя друг друга */
.list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Обводка */
.list__item_border_bottom { 
    border-bottom-style: solid;
    border-bottom-color: var(--bgr-border);
 }
.list__item_border_top { 
    border-top-style: solid;
    border-top-color: var(--bgr-border);
}

/* Распределение контента по горизонтали */
.list__item_distribute_between { 
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* Вертикальное выравнивание контента */
.list__item_vertical-align_center { 
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

/* Внешний отступ сверху */
.list__item_indent-t_m { margin-top: var(--indent-m) }

/* Внешний отступ снизу */
.list__item_indent-b_s { margin-bottom: var(--indent-s) }
.list__item_indent-b_m { margin-bottom: var(--indent-m) }
.list__item_indent-b_l { margin-bottom: var(--indent-l) }
.list__item_indent-b_xl { margin-bottom: var(--indent-xl) }

/* Внутренний отступ снизу */
.list__item_space-b_s { padding-bottom: var(--indent-s) }

/* Внутренние отступы со всех сторон */
.list__item_space-a_m { padding: var(--indent-m) }