@import '/src/base.blocks/patterns.layer/form/form.css';
@import '/src/base.blocks/content.layer/text/text.css';
@import '/src/base.blocks/content.layer/button/button.css';
@import '/src/base.blocks/content.layer/input/input.css';


.payment,
.payment__header,
.payment__content,
.payment__footer {
    border-width: 3px;
}

.payment__content .form__item:last-child {
    margin-bottom: 0;
}

.payment__footer .button {
    margin-left: auto;
}