@import '/src/base.blocks/theme.layer/theme.css';
@import '/src/base.blocks/content.layer/text/text.css';

.footer {
    width: 100%;
    padding: var(--indent-xxxl) var(--gap);
}

.footer__content {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}