@import '/src/common.blocks/content.layer/text/text.css';

/* .footer — сквозной блок подвала */
.footer {
    max-width: 1280px;
    margin: 0 auto;
    padding: var(--indent-xxxl) 0;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}