/* Блок brand-logo - Служит для отображения логотипов брендов, вписанных в разные формы */
/* Модификаторы блока */
/* Изображение логотипа */
.brand-logo_name_blue { background-color: #5dcdf9 }
.brand-logo_name_green { background-color: #23b324 }
.brand-logo_name_red { background-color: #ff3333 }
.brand-logo_name_purple { background-color: #c62cff }

/* Размер логотипа */
.brand-logo_size_xxs { height: 24px; width: 24px; }
.brand-logo_size_xs { height: 32px; width: 32px; }
.brand-logo_size_s { height: 40px; width: 40px; }
.brand-logo_size_m { height: 60px; width: 60px; }
.brand-logo_size_l { height: 80px; width: 80px; }