@import '/src/base.blocks/patterns.layer/card/card.css';
@import '/src/base.blocks/content.layer/text/text.css';
@import '/src/base.blocks/content.layer/avatar/avatar.css';
@import '/src/base.blocks/content.layer/brand-logo/brand-logo.css';
@import '/src/base.blocks/theme.layer/theme.css';


.event {
    min-height: 400px;
}

.event__preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: var(--indent-xxl);
}

.event__speaker {
    margin-right: var(--indent-xs);
}

.event__title {
    margin-bottom: var(--indent-s);
}