@import '/src/base.blocks/theme.layer/theme.css';

/* 
    Блок form - визуальное представление веб-формы, которая принимает и отправляет данные пользователя
*/

/* Обводка всей формы. Цвет границы определяется темой. Ширина границы — 3px. */
.form_border_all { 
    border: 3px solid var(--bgr-border);
}

/* Задает цвет фона. Данное значение модификатора говорит о том, что цвет фона задаётся выбранной темой */
.form_view_default{ 
    background-color: var(--bgr-default);
}

/* 
    Элемент item - структурная единица блока, обычно строка формы
*/
.form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 100%;
}

/* Нижняя граница */
.form__item_border_bottom { 
    border-bottom-style: solid;
    border-bottom-color: var(--bgr-border);
}

/* У последнего пункта в списке при использовании модификатора border со значением bottom обнуляются стили на границу во избежание пересечения с круговой границей самого блока */
.form > .form__item:last-child {
    border-bottom: none;
}

/* Распределение контента по горизонтали */
.form__item_distribute_between { 
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

/* Выравнивание контента по вертикали */
.form__item_vertical-align_center { 
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

/* Внешний отступ снизу */
.form__item_indent-b_xxxs { margin-bottom: var(--indent-xxxs); }
.form__item_indent-b_xxs { margin-bottom: var(--indent-xxs); }
.form__item_indent-b_s { margin-bottom: var(--indent-s); }
.form__item_indent-b_m { margin-bottom: var(--indent-m); }
.form__item_indent-b_l { margin-bottom: var(--indent-l); }
.form__item_indent-b_xl { margin-bottom: var(--indent-xl); }
.form__item_indent-b_xxl { margin-bottom: var(--indent-xxl); }
.form__item_indent-b_xxxl { margin-bottom: var(--indent-xxxl); }
.form__item_indent-b_xxxxl { margin-bottom: var(--indent-xxxxl); }

/* Внутренние отступы по горизонтали */
.form__item_space-h_xxxs { 
    padding-left: var(--indent-xxxs);
    padding-right: var(--indent-xxxs);
}
.form__item_space-h_xxs { 
    padding-left: var(--indent-xxs);
    padding-right: var(--indent-xxs);
}
.form__item_space-h_s { 
    padding-left: var(--indent-s);
    padding-right: var(--indent-s);
}
.form__item_space-h_m { 
    padding-left: var(--indent-m);
    padding-right: var(--indent-m);
}
.form__item_space-h_l { 
    padding-left: var(--indent-l);
    padding-right: var(--indent-l);
}
.form__item_space-h_xl { 
    padding-left: var(--indent-xl); 
    padding-right: var(--indent-xl); 
}
.form__item_space-h_xxl { 
    padding-left: var(--indent-xxl);
    padding-right: var(--indent-xxl);
}
.form__item_space-h_xxxl { 
    padding-left: var(--indent-xxxl);
    padding-right: var(--indent-xxxl);
}
.form__item_space-h_xxxxl { 
    padding-left: var(--indent-xxxxl);
    padding-right: var(--indent-xxxxl);
}

/* space-v - Внутренние отступы по вертикали */
.form__item_space-v_xxxs { 
    padding-top: var(--indent-xxxs);
    padding-bottom: var(--indent-xxxs);
}
.form__item_space-v_xxs { 
    padding-top: var(--indent-xxs);
    padding-bottom: var(--indent-xxs);
}
.form__item_space-v_s { 
    padding-top: var(--indent-s);
    padding-bottom: var(--indent-s);
}
.form__item_space-v_m { 
    padding-top: var(--indent-m);
    padding-bottom: var(--indent-m);
}
.form__item_space-v_l{ 
    padding-top: var(--indent-l);
    padding-bottom: var(--indent-l);
}
.form__item_space-v_xl { 
    padding-top: var(--indent-xl);
    padding-bottom: var(--indent-xl);
}
.form__item_space-v_xxl { 
    padding-top: var(--indent-xxl);
    padding-bottom: var(--indent-xxl);
}
.form__item_space-v_xxxl { 
    padding-top: var(--indent-xxxl);
    padding-bottom: var(--indent-xxxl);
}
.form__item_space-v_xxxxl { 
    padding-top: var(--indent-xxxxl);
    padding-bottom: var(--indent-xxxxl);
}


/* 
    Элементы label и control - Используются в паре, когда лейбл и контрол должны стоять в одну строку. В случае, когда лейбл находится над контролом, обёртки не нужны
    
    label - Лейбл для инпута или другого контрола

    control - Контейнер для инпута или другого контрола
*/

/* Модификатор width */
.form__label_width_default {
    width: 35%;
}
.form__label_width_default + .form__control {
    width: 65%;
}