@import '/src/common.blocks/theme.layer/theme.css';

/*
    Блок button - служит для отображения кнопок.
*/

.button {
    background-color: var(--bgr-accent);
}

/* Размер */
.button_size_s, 
.button_size_m, 
.button_size_l, 
.button_size_xl, 
.button_size_xxl { 
    width: 200px;
}

.button_size_s { height: 24px; }
.button_size_m { height: 32px; }
.button_size_l { height: 42px; }
.button_size_xl { height: 56px; }
.button_size_xxl { height: 64px; }

/* Ширина */
.button_width_full { 
    width: 100%;
}