@import '/src/common.blocks/theme.layer/theme.css';

/* 
    Блок image - служит для отображения изображений. 
    Растягивается на всю ширину, имеет сплошную границу шириной 3px и содержит заглушку. 
    Заглушка, цвета фона и границы задаются темой или стилями контентного блока.
*/

.image {
    width: 100%;
    height: 100%;
    border: 3px solid var(--bgr-border);

    background-color: var(--bgr-default);
    background-image: var(--bgr-image);
    background-repeat: no-repeat;
    background-position: center;
}