@import '/src/base.blocks/theme.layer/theme.css';

@import '/src/base.blocks/frame.layer/layout/layout.css';
@import '/src/base.blocks/frame.layer/grid/grid.css';
@import '/src/base.blocks/patterns.layer/section/section.css';

@import './content.blocks/payment/payment.css';
@import './content.blocks/warning/warning.css';
@import './content.blocks/product/product.css';
@import './content.blocks/history/history.css';
@import './content.blocks/cover/cover.css';
@import './content.blocks/event/event.css';
@import './content.blocks/header/header.css';
@import './content.blocks/onoffswitch/onoffswitch.css';
@import './content.blocks/footer/footer.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
