@import '/src/base.blocks/patterns.layer/informer/informer.css';
@import '/src/base.blocks/content.layer/text/text.css';
@import '/src/base.blocks/content.layer/placeholder/placeholder.css';
@import '/src/base.blocks/content.layer/button/button.css';
@import '/src/base.blocks/theme.layer/theme.css';


.warning {
    min-height: 335px;
    height: 100%;
}

.warning__content .placeholder {
    margin: var(--indent-m) 0;
}
